form {
    border: 1px solid #b82727;
    border-radius: 3px;
    padding: 40px;
    background-color: rgb(35, 20, 150);
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
